.CardItem2 {
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   background-color: rgb(223, 223, 223);
   width: 100%;
   margin-top: 5vmax; 
   padding-top: 1vmax;  
  
}

.CardItemHeader {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ItemTitulo {
    font-size: 3vmax;
    margin-bottom: 1vmax;
}

/* bloque imagen - texto */

.pikInfoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  height: 25max;
}

.ItemImg {
    width: 27vmax;
    padding: 4vmax;
    border-radius: 10px 0 0 10px;
    background-color: rgba(0, 0, 0, 0.122);   
}

.ItemFooter {
    display: flex;
    flex-flow: row nowrap;   
}

.cardTexto {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.5vmax 1vmax; 
   text-align: justify;
   width: 40%;
   background-color: rgb(239, 239, 239);
   border-radius: 0 10px 10px 0;
   height: 100%;
}

.Info {
    margin-bottom: 12px;
    padding: 0 3vmax;
    font-size: 1vmax;
    
}

.cambiarProd {
    display: flex;
    margin-right: 43%;
    margin-bottom: 1vmax;
}

.botonProd {    
    margin: -2vmax 0 5vmax 0;
}


.botonProd2 {    
    margin: 0.5vmax 0 0 2vmax;    
}


/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

    .ItemImg {
        height: 31vmax;
        width: auto;
         
    }

    .cardTexto {
        height: 31vmax;
    }
  
 
    .botonProd2 {    
        margin: 1vmax 0 0 2vmax;    
    }
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    .ItemImg {
        height: 30vmax;
        width: auto;
         
    }

    .cardTexto {
        height: 30vmax;
    }

    .botonProd2 {    
        margin: 2vmax 0 0 2vmax;    
    }

    .Info {
        margin-bottom: 12px;
        padding: 0 3vmax;
        font-size: 1.2vmax;
        
    }
    

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

   
    .CardItem2 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        margin-top: 5vmax; 
        padding: 11vmax 0;  
       
    }

    .botonProd {    
        margin: -2vmax 0 5vmax 28vmax;
    }

    .ItemImg {
        height: 32vmax;
        width: auto;
         
    }

    .cardTexto {
        height: 32vmax;
    }
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

    .ItemImg {
        height: 33vmax;
        width: auto;
         
    }

    .cardTexto {
        height: 33vmax;
    }
    
    
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {


   
 
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    
   
    
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   

    
    
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:581px) {

    .Info {
        margin-bottom: 12px;
        padding: 0 3vmax;
        font-size: 0.9vmax;
        
    }
    
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    .ItemTitulo {
        font-size: 4vmax;
        margin-bottom: 2vmax;
    }

    .pikInfoContainer {
        flex-flow: column;
        align-items: center;
        height: 25max;
    }

   

    .cardTexto {
        padding: 1.5vmax 1vmax; 
        width: 54%;
        border-radius:10px;
        height: 100%;
        background-color: #DFDFDF;
        border: solid 0.5px rgba(0, 0, 0, 0.179);
        margin-top: 1vmax;
    }

    .Info {
        margin-bottom: 12px;
        padding: 0 3vmax;
        font-size: 1.5vmax;
        
    } .ItemImg {

        width: 34vmax;
        height: 34vmax;
        align-self: center;
        padding: 4vmax;
        border-radius: 10px;
        
    }

    .cambiarProd {
        margin-right: 0;
        margin-bottom: 1vmax;
        gap: 4vmax;
    }

    .botonProd2 {    
        margin: 4vmax 0 0 0; 
        font-size: 1.5vmax !important;   
    }

    .botonProd {    
        margin: 6vmax 0 5vmax 0;
        font-size: 1.5vmax !important; 
        padding: 1.5vmax 10vmax !important;
    }

    .modificacion {
        font-size: 1.5vmax !important; 
    }
    
    
    

}

/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:574px) {


    .ItemImg {

        width: 37.2vmax;
        height: 37.2vmax;
       
        
    }
   
}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {

    .ItemImg {

        width: 36vmax;
        height: 36vmax;
        
    }
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:529px) {

    .cardTexto {
        padding: 1.5vmax 1vmax; 
        width: 58%;
        
    }

    

    
   
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

    .ItemImg {

        width: 35vmax;
        height: 35vmax;
        
    }

    .cardTexto {
        padding: 1.5vmax 1vmax; 
        width: 76%;
        
    }
    
}

/* ++++++++++++++++++++++++ media query  | pantallas |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:470px) {
 
    .ItemImg {

        width: 36vmax;
        height: 36vmax;
        
    }

    .cardTexto {
        padding: 1.5vmax 1vmax; 
        width: 70%;
        
    }
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:429px) {
    .cardTexto {
        padding: 1.5vmax 1vmax; 
        width: 76%;
        
    }

    .ItemImg {

        width: 38vmax;
        height: 38vmax;
        
    }

   
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:391px) {
    .cardTexto {
        padding: 1.5vmax 1vmax; 
        width: 77.2%;
        
    }

    .ItemImg {

        width: 38vmax;
        height: 38vmax;
        
    }

   
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
   
    
 
    
}  