.Widget-contenedor {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2vmax;
    text-decoration: none;
    
   
}



.Widget-contenedor p {
    margin-left: 1vmax;
    font-family: sans-serif;
    

   
}

