.Widget-contenedor {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    width: 10%;
    font-size: 1.2vmax;
   
}

.Widget-contenedor p {
    margin-left: 1.5vmax;
    font-family: sans-serif;
   
}