header {
    background: linear-gradient(to right, #ff0458, #520066);
    height: 44vmax;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-top: 5vmax;   
}

h1 {
  font-size: 8vmax;  
  font-family: "Passion One", sans-serif;  
  margin-right: 3vmax;
  font-weight:200;
  color: rgb(255, 255, 255);
  text-shadow: 
    4px 4px 10px rgba(0, 0, 0, 0.7),   /* Sombra principal */
    8px 8px 20px rgba(0, 0, 0, 0.5);  /* Sombra secundaria */
}

.ola {
    position: absolute;
    top: 33vmax;
    filter: drop-shadow(0px -20px 12px rgba(0, 0, 0, 0.204)); 
}

.headerCont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.tituloH1 {
    margin-right: 5vmax;
    margin-bottom: 5vmax;
}

.texto-bienvenida {
    color: white;
    font-size: 2vmax;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.977);      
}

.logo-header {
    margin-bottom:6vmax;
    margin-right: 1vmax;
    width: 25%;
    animation: pulse 3s infinite ease-in-out, moveShadow 3s infinite ease-in-out;
    z-index: 0;
}

/* Animación de pulso */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


/* Animación de movimiento de sombra */
@keyframes moveShadow {
    0%, 100% {
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.7)); /* Sombra inicial */
    }
    50% {
        filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.9)); /* Sombra durante la animación */
    }
}






/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

 
  
 
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

    .ola {
        top: 36vmax;
       
    }
    

    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

   
    .ola {
        top: 37vmax;
       
    }
    
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {

  
 
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    
    .ola {
        top: 37vmax;
       
    }
    
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   

    
    
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
  
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:582px) {

    
    .ola {
        top: 39vmax;
       
       
    }
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {

    header {
      overflow: hidden;   
    }

    .headerCont{
        display: flex;
        flex-direction: column;
    }

    header {
        height: 55vmax;
        margin-top: 5vmax;   
    }

    .ola {
        top: 45vmax;
      
    }

    h1 {
        font-size: 9vmax;   
        margin-right: 0;
    }    
    
    .texto-bienvenida {
        font-size: 2.2vmax;
         
    }

    .tituloH1 {
        margin-right: 0;
        margin-bottom:3vmax;
    }
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

    .ola {
        top: 50vmax;
        
       
       
    }
   
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:470px) {

   
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:440px) {

    
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:431px) {

  

    .logo-header {
        margin-bottom:4vmax;
       /*  margin-right: 1vmax; */
        width: 32%;
       
    }
    
}


/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:429px) {


    .logo-header {
        margin-bottom:3.5vmax;
       /*  margin-right: 1vmax; */
        width: 32%;
       
    }
    
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:415px) {

    

    .logo-header {
        width: 30%;
       
    }
    
}




/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:380px) {
    
   
    .ola {
        top: 50vmax;
       
       
    }
    
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:377px) {
 
   
    
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:361px) {
 
    
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {

    .tituloH1 {
        margin-right: 0;
        margin-bottom:1vmax;
        margin-top: 4vmax;
    }

    .logo-header {
        width: 22%;
       
    }
   
    .ola {
        top: 50vmax;
       
       
    }
    
 
    
}  

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:322px) {
   
    
    
 
    
}  




