
.cartContainerPrincipal {
    margin-top: 5vmax;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: rgb(223, 223, 223);
    margin-bottom: 5vmax;
}


.totalBotones {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    text-align: center;
   
}

.vaciarCarrito {
    padding: 4px 10px;
    margin:25px 10px 10px 10px;
    width: 8vmax;
}

.carrito {
    font-size: 4vmax;
    margin: 2vmax 0;
}

.carrito2 {
    font-size: 2vmax;
   
}

.botonComprar {
    padding: 4px 10px;
    margin:25px 10px 40px 10px;
    width: 8vmax;
}

.botonInicio {
    padding: 8px 12px;
    margin:25px 10px 40px 10px;
    width: 10vmax;
    background: linear-gradient(to right, #ff0458b1, #520066af);
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(20, 20, 20);
    font-size: 1.1vmax;
    font-weight: bold;
}

.total {
    font-size: 2vmax;
    font-family: sans-serif;
}