
.cartContainerPrincipal {
  margin-top: 5vmax;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  background-color: rgb(223, 223, 223);
  margin-bottom: 5vmax;
}

.totalBotones {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: center;
  text-align: center;
   
}

.vaciarCarrito {
  margin:25px 10px 10px 10px;    
}

.carrito2 {
  font-size: 4vmax;
  margin: 2vmax 0;
}

.carrito2 {
  font-size: 2vmax;   
}

.botonComprar {
  margin:25px 10px 40px 10px;    
}

.total {
  font-size: 2vmax;
  margin-top: 4vmax;
  background-color: rgba(0, 255, 255, 0.818);
  padding: 0.2vmax 1vmax 0.2vmax 1vmax;
}

.botonInicio {
  margin:25px 10px 30px 10px;    
}

/* Estilo del botón */
.botonGeneral {
  background: linear-gradient(45deg,#ff3aa0d9, #ff0458b1, #520066af); /* Degradado de color */
  color: #fff; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 8px 22px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  font-size: 1.1vmax; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: all 0.4s ease; /* Transición suave para efectos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
  position: relative; /* Posición relativa para el efecto glow */
   overflow: hidden; /* Oculta el contenido que se sale del botón */
  transform: perspective(500px); /* Perspectiva para el efecto 3D */
  text-decoration: none;
}
  
/* Efecto de brillo (glow) */
.botonGeneral::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.179); /* Brillo blanco sutil */
  opacity: 0;
  transition: all 0.5s ease;
  transform: rotate(45deg);
}
  
 /* Efecto hover */
.botonGeneral:hover {
  background: linear-gradient(45deg, #ff4f8c, #9c0075); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 24px 48px rgba(0, 0, 0, 0.3); 
}
  
.botonGeneral:hover::before {
  opacity: 1;
  top: -120%;
  left: -120%;
}
  
/* Efecto active (cuando se presiona el botón) */
.botonGeneral:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra menos intensa */
  transform: translateY(2px); /* Efecto de presionar el botón */
}

/* boton secundario */
.botonSecundario {
  background: linear-gradient(45deg,#282828c2, #000000bf, #000000fe); /* Degradado de color */
  color: #fff; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 8px 22px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  font-size: 1.1vmax; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: all 0.4s ease; /* Transición suave para efectos */
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.147); /* Sombra para efecto 3D */
  position: relative; /* Posición relativa para el efecto glow */
  overflow: hidden; /* Oculta el contenido que se sale del botón */
  transform: perspective(500px); /* Perspectiva para el efecto 3D */
  text-decoration: none;
}
  
/* Efecto de brillo (glow) */
.botonSecundario::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.179); /* Brillo blanco sutil */
  opacity: 0;
  transition: all 0.5s ease;
  transform: rotate(45deg);
}
  
/* Efecto hover */
.botonSecundario:hover {
  background: linear-gradient(45deg, #fd0a5f, #600048); 
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.264); 
}
  
.botonSecundario:hover::before {
  opacity: 1;
  top: -120%;
  left: -120%;
}
  
/* Efecto active (cuando se presiona el botón) */
.botonSecundario:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra menos intensa */
  transform: translateY(2px); /* Efecto de presionar el botón */
}
  
.metodosDePago {
  margin-top: 2vmax;
}

.tarjetas {
  width: 14vmax;
    
}

.compraContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}












/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

   
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

  .cartContainerPrincipal {
    margin-top: 8vmax;
    margin-bottom: 5vmax;
  }

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

  .btnCompra {
    padding: 1vmax 6vmax !important;
    font-size: 2vmax;
  }

  .tarjetas {
    width: 18vmax;
      
  }
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

   
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {


   
 
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

   
   
    
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   

    
    
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
  
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {

   
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

  .botonGeneral {
    padding: 10px 24px; /* Espaciado interno */
    font-size: 1.8vmax; /* Tamaño de la fuente */
    
  }
   
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {

    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:391px) {
 
    
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
   
    
 
    
}  


