.CardItem {
    border: 1.6px solid rgb(199, 199, 199);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1vmax;
    padding: 2cqh;
    text-align: center;
    box-sizing: border-box;
    width: 25vmax;
    height: 32vmax;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.744), #e3e2e2ca);
    transition: transform 0.3s ease;   
}

.CardItem:hover {
    transform: scale(1.02);
}

.linea {
    color: rgb(69, 0, 65); 
}

.ItemMain {
    margin-top: 0.5vmax;
    margin-bottom:0.5vmax;
    font-size: 1.8vmax;
    font-family: sans-serif;
    font-weight: bold;
}

.ItemImg1 {
    width: 14vmax;
    padding: 1.2vmax;
}


