.checkoutContainer {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10vmax;
    margin-bottom: 10vmax;
    justify-content: center;
    height: 35vmax;
    border-radius: 10px;    
}

.formContainer {
    margin-left: 2vmax;
    padding: 20px;
    display: flex;
    flex-flow:column ;
    background-color: rgb(233, 233, 233);
    width: 35%;
    border-radius: 10px 0 10px 0;
}

.complementoForm {
    width: 35%;
    background: linear-gradient(to right ,#520066, #ff0458 );
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloFinDeCompra{
    color: blueviolet;
    margin-bottom: 0.5vmax;
    width: 30vmax;
    margin-top: 2vmax;
    margin-left: 3vmax;
}

/* entrega de id */
.checkoutIdCompra {
    margin-top: 5vmax;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vmax;
}

.mensajeCheckOut {
    font-size: 1.6vmax;
    margin-bottom: 3vmax;
    line-height: 2;
    padding: 0 5vmax;
} 

.form {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin-left: 3vmax;
    margin-top: 2vmax;    
}

.formularioDatos {
    margin-bottom: 0.8vmax;
}

.formularioDatosT {
    margin-bottom: 0.5vmax;
    width: 25vmax;
    height: 3vmax;
    padding: 1vmax;
    font-size: 1vmax;
}

.botonFormularioDatos {
    width: 40%;
    margin: 2vmax 5vmax 0 0;
   align-self: center;
}

.solologo {
    width:60%;
}

.idFinal {
    background-color: aqua;
    padding: 0.5vmax 1vmax;
}




