.navbar-contenedor {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vmax;

}

.logo-links-navbar-contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logo-navbar {
    width: 15vmax;
    padding: 1.2vmax;
}

.liks-ul-contenedor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}

.link-item {
    list-style: none;
  
}

.PosibleOption {
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(91, 247, 255);
    font-size: 1.2vmax;
    padding: 0.7vmax;
        
}

.ActiveOption {
    
    color: rgb(192, 255, 91);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2vmax; 
    padding: 0.7vmax  
}


.anchoCart {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    color: white;
    width: 10%;
    font-size: 1.2vmax;
    text-decoration: none;
    margin-left: 20px;

}



