.redesContainer  {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: black;
    padding: 0.6vmax;
    border-radius: 0 10px 10px 0;
    z-index: 2000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.redesContainer a {
    display: block;
    margin: 0.5vmax 0 0.5vmax 0;
    text-align: center;
}

.redesContainer img {
    width: 1.8vmax;
    height: 1.8vmax;
    transition: transform 0.3s ease;
}

.redesContainer img:hover {
    transform: scale(1.1);
}

















/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

 
  
 
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    .redesContainer  {
       
        padding: 1vmax;
        
       
    }
    
    .redesContainer a {
        
        margin: 0.5vmax 0 0.5vmax 0;
       
    }
    
    .redesContainer img {
        width: 2vmax;
        height: 2vmax;
       
    }

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

    .redesContainer  {
        top: 55%;
        padding: 2vmax 1.5vmax;
        
       
    }
    
    .redesContainer a {
        
        margin: 0.8vmax 0 0.8vmax 0;
       
    }
    
    .redesContainer img {
        width: 2.8vmax;
        height: 2.8vmax;
       
    }


    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

   
    .redesContainer  {
        top: 55%;
        padding: 1.5vmax 1.2vmax;
        
       
    }

    .redesContainer img {
        width: 2.5vmax;
        height: 2.5vmax;
       
    }
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {


   
 
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    
   
    
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   

    
    
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
  
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {

   
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

    
   
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {

    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:391px) {
 
   
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
   
    
 
    
}  