.Controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Controls {
    margin-top: 10px;
    margin-bottom: 10px;    
}

.botonesAlCarrito {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.ButtonContador {   
    margin-bottom: 1vmax;
    padding: 0.2vmax 0.6vmax;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.Counter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 20vmax;
}

.Number {
    margin: 0 1vmax;
}

.botCorrect  {
    margin-bottom: 1vmax;
    
}

.tituloDeCantidad {
    margin: 0;
}



/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

   
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    .tituloDeCantidad {
       font-size: 1.5vmax;
    }

    .ButtonContador {   
        font-size: 1.2vmax;
    }

    .Number {
        font-size: 1.8vmax;
    }

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

   

    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

   
    
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {


   
 
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    
   
    
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   

    
    
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
  
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    .tituloDeCantidad {
        font-size: 1.5vmax;
    }
 
    .ButtonContador {   
        font-size: 1.5vmax;
    }
 
    .Number {
        font-size: 2.1vmax;
    }

    .botCorrect  {
        margin-bottom: 2vmax;
        font-size: 1.5vmax !important;
        
    }
 
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {

   
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

    
   
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {

    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:391px) {
 
   
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
   
    
 
    
}  