.ListGroup {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   padding: 4vmax ;
   background-color: rgb(223, 223, 223);   
}


/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

   
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

   

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

   .ListGroup {
      padding: 5vmax ;
      gap: 3.5vmax;
         
   }

    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

   
   .ListGroup {
      padding: 2vmax ;
      gap: 1vmax;
         
   }
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {


   
 
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    
   
    
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   

    
    
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
  
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {

   
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

    
   
}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {

    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:391px) {
 
   
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
   
    
 
    
}  